<div class="card"  style="width: 20vw; height:330px ; border: 1px solid grey; border-radius: 5px; margin: 5px;">
  <img class="card-img-top" height="150px" width="100%" [src]="restaurantData.image_url" alt="Card image cap">
  <div class="card-body" style="margin: 3px;">
    <div class="card-title " style="font-weight: bolder; font-size:large;">
    {{(restaurantData.title.length > 10)? (restaurantData.title | slice:0:10) +'...':restaurantData.title }}
    &nbsp;
      <label class="pull-right" id="rating"style="font-size: small;" [innerHTML]="starRating">{{rating}}</label><!-- 
      <span class="glyphicon glyphicon-star" *ngFor="let let i of [].constructor(rating)"></span>
      <span class="glyphicon glyphicon-star-empty" ></span> -->
    </div>
    <p class="card-text">{{restaurantData.description}}</p>
    <p class="card-text" style="font-size: small;">{{restaurantData.branches}}</p>

    <p class="card-text" style="font-size:x-small;">{{restaurantData.offer}}</p>

    
    <div class="row">
      <div class="col-sm-6">
        <span class="glyphicon glyphicon-heart" ></span>
      </div>
      <div class="col-sm-6">
        <div class="pull-right">
        <a [href]="restaurantData.image_url" target="_blank">        
          <button class="btn btn-default" >Buy Now</button></a>
          </div>
      </div>
    </div>
  </div>
</div>