<div class="card"  style="width: 20vw; height:350px ; border: 1px solid grey; border-radius: 5px; margin: 5px;">
  <img class="card-img-top" height="150px" width="100%" [src]="restaurantData.image_url" alt="Card image cap">
  <div class="card-body" style="margin: 3px;">
    <div class="card-title " style="font-weight: bolder;">{{restaurantData.title}}
    &nbsp;
      <label class="pull-right" id="rating"style="font-size: small;" [innerHTML]="starRating">{{rating}}</label><!-- 
      <span class="glyphicon glyphicon-star" *ngFor="let let i of [].constructor(rating)"></span>
      <span class="glyphicon glyphicon-star-empty" ></span> -->
    </div>
    <p class="card-text">{{restaurantData.description}}</p>
    <p class="card-text" style="font-size: small;">{{restaurantData.branches}}</p>

    <p class="card-text" style="font-size: small;">{{restaurantData.offer}}</p>
    <div class="row" >
      <div class="col-sm-6">
        <span class="glyphicon glyphicon-heart" ></span>
      </div>
      <div class="col-sm-6" >
        <div class="pull-right">
          <button class="btn btn-default" >Buy Now</button></div>
      </div>
    </div>
  </div>
</div>